$family-sans-serif: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑",Arial,sans-serif;
$family-monospace: "Inconsolata", "Consolas", "Monaco", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", monospace;
$fa-font-path: "~font-awesome/fonts/";